
\.idea/\.idea\.Shaykhullin\.Network/\.idea/

Shaykhullin\.Network\.Client\.Core/bin/Debug/netcoreapp2\.0/

Shaykhullin\.Network\.Client\.Sandbox/bin/Debug/netcoreapp2\.0/

Shaykhullin\.Network\.Client\.Sandbox/obj/Debug/netcoreapp2\.0/

Shaykhullin\.Network\.Client/bin/Debug/netcoreapp2\.0/

Shaykhullin\.Network\.Server\.Core/bin/Debug/netcoreapp2\.0/

Shaykhullin\.Network\.Server\.Sandbox/bin/Debug/netcoreapp2\.0/

Shaykhullin\.Network\.Server\.Sandbox/obj/Debug/netcoreapp2\.0/

Shaykhullin\.Network\.Server/bin/Debug/netcoreapp2\.0/

Shaykhullin\.Network\.Server/obj/Debug/netcoreapp2\.0/

Shaykhullin\.Network/obj/Debug/netcoreapp2\.0/

Shaykhullin\.Network/bin/Debug/netcoreapp2\.0/
