
\.idea/

Shaykhullin\.Network\.Client\.Core/bin/

Shaykhullin\.Network\.Client\.Sandbox/bin/

Shaykhullin\.Network\.Client\.Sandbox/obj/

Shaykhullin\.Network\.Client/bin/

Shaykhullin\.Network\.Server\.Core/bin/

Shaykhullin\.Network\.Server\.Sandbox/bin/

Shaykhullin\.Network\.Server\.Sandbox/obj/

Shaykhullin\.Network\.Server/bin/

Shaykhullin\.Network\.Server/obj/

Shaykhullin\.Network/obj/

Shaykhullin\.Network/bin/

Shaykhullin\.Network\.Client\.Core/obj/

Shaykhullin\.Network\.Client/obj/

Shaykhullin\.Network\.Core/obj/

Shaykhullin\.Network\.Server\.Core/obj/

Shaykhullin\.Network\.Core/bin/Debug/netcoreapp2\.0/
.vs/
Shaykhullin.Network.Client.Tests/obj/
Shaykhullin.Network.Client.Tests/bin/
